<div hlmTableContainer class="w-full">
  <table hlmTable class="w-full border-separate border-spacing-y-2">
    <thead hlmTableHeader>
      <tr hlmTableRow>
        <th hlmTableHead class="w-[60px] text-center font-bold text-xs tracking-wider">#</th>
        <th hlmTableHead class="w-[60px] text-center tracking-wider"></th>
        <th hlmTableHead class="font-bold text-xs tracking-wider">Title</th>
        <th hlmTableHead class="text-right w-[100px] font-bold text-xs tracking-wider">Time</th>
      </tr>
    </thead>
    <tbody hlmTableBody>
      @for (currentTrack of tracks(); track currentTrack.id; let idx = $index) {
        <tr
          app-track-list-item
          [track]="currentTrack"
          [index]="idx"
          [playingTrackId]="playingTrackId()"
          (playToggled)="onPlayToggled($event)"
        ></tr>
      }
    </tbody>
  </table>
</div>
